body{
    background-color: #E6E5E2;
    color:rgb(70, 70, 70);
}
.header{
    display: flex;
    background-color: #4D4535;
    height: 0vh;
}
.header h1{
    margin-left: 90%;
    color: #FBFCFD;
}
.table_area{
    overflow-y: scroll;
    /* height: 100vh; */
    height:70vh;
    border: solid 2px #4D4535;
    border-radius: 3px;
}
th,td{
    border: solid 1px #4D4535;
    white-space:nowrap
}
tr{
    background-color: #FBFCFD;
    cursor: pointer;
}
th{
    cursor: default;
    position:sticky;
    top:0;
    left:0;
    background-color: #FBFCFD;
}
#info_image{
    width:20px;
    margin-left: 95%;
    cursor: pointer;
}
#info_direct{
    position: absolute;
    display: none;
    background-color: rgb(70, 70, 70);
color:white;
padding:20px;
}
.main{
    /* display: flex; */
    margin:5px 0px 0px 0px;
    /* height: 85vh; */
}
.answer_area{
    border: solid 3px #4D4535;
    padding:0px 10px 0px 10px;
    margin-top: 10px;
    margin-right: 0px;
    width:40%;
    background-color: white;
}
.is_true_box{
    border: solid 3px #4D4535;
    padding:0px 10px 0px 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    width:40%;
}
.answer_area h2{
    text-align: center;
}
.answer_box{
    display: flex;
}
.answer_box2{
    display: flex;
}
/* .answer_select{
    position: absolute;
} */
#answer_btn{
    background-color: #28A6A5;
    margin-left: 5%;
    cursor: pointer;
    margin-top: 50px;
    height:fit-content;

}
#answer_btn{
    display: block;
    background-color: #28A6A5;
    width:fit-content;
    transition: background-color 0.3s, transform 0.3s;
    padding: 10px 10px;
    text-align: center;
    border-color: aliceblue;
    box-shadow: 0 7px 0 #175e5e;
    border-radius: 60px;
}
#answer_btn:hover{
    background-color: #28A6A5;
    box-shadow: none;
    transform: translateY(4px);
}
#suspicious_type{
    width:90%;
}
#isTrue{
    color:#28A6A5;
}
#user_answer{
    border-bottom: solid 2px #28A6A5;
}

/* #dictionary p{
    background-color: #dbf9fc;
padding: 5px;
border-radius: 10px;
width:25%;
}
#dictionary_menu{
    gap:10px;
} */
#dictionary{
    display: flex;
    background-image: url(note.png);
    width:65%;
}
/* #dictionary_text{
    width:500px;
    background-color: #dbf9fc;
} */